@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 280px;
}

html, body, #root {
  height: 100%;
}

.scroll-thin::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.scroll-thin::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 8px;
}